* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left, #C04C8B, #264EB0);
  font-family: 'Montserrat', sans-serif;
}

header {
  color: #fff;
  text-align: center;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 24%;
  border-radius: 6px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  padding: 25px;
  box-shadow: 0 10px 16px #000;
}

/* ПОЛЯ ДЛЯ ВВОДА */
.inpt {
  width: 305px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
  font-weight: 900;
  background-color: #efeffc;
  border: 2px solid #7E4D9B;
  margin: 10px;
}

.inpt:active {
  outline: none;
}

.inpt:focus {
  outline: none;
}

/* ПОЛЯ ДЛЯ ВВОДА */
.btn {
  margin: 8px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 25px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.2mm;
  background-color: #7E4D9B;
  color: #fff;
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  border: 1px solid #000;
}

#submit:active {
  outline: none;
}
